# Archivos objeto
*.o
*.obj

# Ejecutables Linux
*.out

# Ejecutables Windows
*.exe

# Archivos temporales
*.tmp
*.temp

# Archivos de respaldo
*~
*.bak

# Carpetas de compilación
build/
cmake-build-*/

# Archivos generados por CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
Makefile

# Configuración de VS Code
.vscode/

# Configuración de CLion
.idea/

# Archivos objeto
obj/

# Ejecutables
bin/
